.container {
    min-width: 350px;
    max-width: 500px;
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;
        margin-bottom:20px;
    }

    .buttons {
      text-align: right;

      button {
          margin-left: 10px;
      }
    }

    .error-alert {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px 15px;
        margin-bottom: 15px;
        border: 1px solid #f5c6cb;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
    }
}
